h1 {
  font-size: 30px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  border: 0;
  background-color: #d2d2d2;
  font-size: 24px;
  padding: 20px;
  margin: 20px;
  outline: none;
  cursor: pointer;
  position: relative;
}

.button span {
  position: relative;
  z-index: 100;
  transition: color 0.25s;
}

.button.left {
  overflow: hidden;
}

.button.left::before {
  content: "";
  position: absolute;
  background-color: #d27a2e;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  transition: left 0.25s;
  z-index: 1;
}

.button.left:hover::before {
  left: 0;
}

.button:hover span {
  color: white;
}

.button.right {
  overflow: hidden;
}

.button.right::before {
  content: "";
  position: absolute;
  background-color: #d27a2e;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  transition: right 0.25s;
  z-index: 1;
}

.button.right:hover::before {
  right: 0;
}

.button.bottom {
  overflow: hidden;
}

.button.bottom::before {
  content: "";
  position: absolute;
  background-color: #d27a2e;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -100%;
  transition: bottom 0.25s;
  z-index: 1;
}

.button.bottom:hover::before {
  bottom: 0;
}

.button.top {
  overflow: hidden;
}

.button.top::before {
  content: "";
  position: absolute;
  background-color: #d27a2e;
  width: 100%;
  height: 100%;
  left: 0;
  top: -100%;
  transition: top 0.25s;
  z-index: 1;
}

.button.top:hover::before {
  top: 0;
}
