h1 {
  font-size: 30px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  border: 0;
  background-color: #d2d2d2;
  font-size: 24px;
  padding: 20px;
  margin: 20px;
  outline: none;
  cursor: pointer;
  transition: transform 0.25s ease-in-out;
  position: relative;
  overflow: hidden;
}

.button .btn-txt {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
}

.button:hover .btn-txt {
  color: white;
}

.btn-bg {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  background-color: #1661d0;
  border-radius: 50%;
  transform: translate(calc(-50% - 20px), calc(-50% - 20px));
  transition: width 0.4s ease, height 0.4s ease;
  overflow: hidden;
}

.button.first:hover .btn-bg {
  width: 620px;
  height: 620px;
}
